body {
    font-family: 'Merriweather', serif;
}
.flex-container {
    margin: auto;
    width: 980px;
}
.logo {
    height: 40px;
    width: 40px;
}
.small-icon {
    height: 15px;
    width: 15px;
    display: inline-block;
}
.heading-text {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(23, 23, 131);
    text-align: center;
}
.heading-text,
.search-box,
.top-articles,
input,
button {
    border-radius: 5px;
}
.headingtextP {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 56px;
    font-weight: bold;
}
.search-box,
.top-articles {
    border: 1px solid black;
    margin-top: 5px;
}
form {
    padding-left: 10px;
    padding-right: 10px;
}
.section-head {
    background-color: rgb(233, 225, 225);
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid black;
}
.subheading {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    padding-left: 10px;
}

input {
    width: 100%;
    border: 1px solid black;
}

label {
    margin-top: 15px;
}

button {
    padding: 5px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.result {
    height: 20px;
}
